<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Comentarios</title>
    <script th:inline="javascript">
        var id_pedido = /*[[${id_pedido}]]*/ null;
        var id_donacion = /*[[${id_donacion}]]*/ null;
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/js/comments.js}"></script>
</head>
<body>
    <h1 th:text="${message}"></h1>
    <th:block th:replace="fragments/form :: form"></th:block>
    <th:block th:replace="fragments/comentarios-table :: table"></th:block>
    <script>
    </script>
</body>

</html>